{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2023": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json",
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["prettier", "import", "@typescript-eslint"],
  "ignorePatterns": ["dist", "node_modules", "coverage", "server"],
  "rules": {
    "import/order": [
      2,
      {
        "groups": ["external", "builtin", "index", "sibling", "parent", "internal", "type"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always"
      }
    ],
    "@typescript-eslint/no-explicit-any": "error",
    "no-console": ["warn", { "allow": ["error", "warn"] }],
    "max-len": ["warn", { "code": 120 }],
    "indent": "off",
    "@typescript-eslint/indent": "off",
    "no-param-reassign": ["error", { "props": false }]
  }
}
